<header><h1>Lists</h1></header>

<div class="list-container">
  {{#each model as |list|}}
    {{card-list list=list onDelete=(action 'deleteList')}}
  {{/each}}

  <a href="#" {{action 'addList'}}>Add a List</a>
</div>
